div.selected {
    background-color: red;
}

#results-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: stretch;
}

#results-container > .results-item {
    flex: 0 1 auto;
    align-self: auto;
}
